/*

Palette colors:

Purple: #4b1eff

Red: #b90f10

Dark: #242424

*/

* {
  /*background-color: #252525;*/
  margin: 0;
  padding: 0;
}

input {
  cursor: url("icons/cursor_select.png"), pointer;
}

a {
  cursor: url("icons/cursor_select.png"), pointer;
}

body,
select,
option {
  cursor: url("icons/cursor_arrow.png"), auto;
}

body {
  cursor: url("icons/cursor_load.png"), wait;
  cursor: url("icons/cursor_TextS.png"), text;
  cursor: url("icons/cursor_arrowMove.png"), move;
  cursor: url("icons/cursor_arrow.png"), default;
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: #cccccc;
}

.dark-mode::-webkit-scrollbar {
  background-color: var(--palette_dark_accent_main);
}

body::-webkit-scrollbar-button:single-button {
  background-color: #000000;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.dark-mode::-webkit-scrollbar-button:single-button {
  background-color: var(--palette_dark);
}

body::-webkit-scrollbar-track {
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  background-image: none;
  border-radius: 50px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.dark-mode::-webkit-scrollbar-thumb {
  background-color: var(--palette_dark_accent_one);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #323232;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}

.dark-mode::-webkit-scrollbar-thumb:hover {
  background-color: var(--palette_dark);
}

body.palette_one ::selection {
  background: var(--palette_one_accent);
  color: black;
}

body.palette_two ::selection {
  background: var(--palette_two_accent);
  color: black;
}

body.palette_three ::selection {
  background: var(--palette_three_accent);
  color: black;
}

body.palette_four ::selection {
  background: var(--palette_four_accent);
  color: black;
}

body.dark-mode ::selection {
  background: var(--palette_dark_accent_two);
  color: white;
}

a {
  outline: 0;
}

.parallax {
  background-image: url("images/back-index-v4-Light.png");
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -320px;
  /*box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);*/
}

.dark-mode .parallax {
  background-image: url("images/back-index-v4-Dark.png");
}

@media only screen and (max-width: 1400px) {
  .parallax {
    background-position: center -220px;
  }
}

@media only screen and (max-width: 900px) {
  .parallax {
    background-image: url("images/back-index-v4-Light.png");
    height: 35vh;
    background-size: contain;
    background-position: center 0;
  }
}

@media only screen and (max-width: 600px) {
  .parallax {
    background-image: url("images/back-index-v4-Light.png");
    height: 25vh;
    background-size: contain;
    background-position: center 0;
  }
}

@media only screen and (max-width: 900px) {
  .dark-mode .parallax {
    background-image: url("images/back-index-v4-Dark.png");
    height: 35vh;
    background-size: contain;
    background-position: center 0;
  }
}

@media only screen and (max-width: 600px) {
  .dark-mode .parallax {
    background-image: url("images/back-index-v4-Dark.png");
    height: 25vh;
    background-size: contain;
    background-position: center 0;
  }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/*@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} */

#img2 {
  width: 100%;
  overflow: hidden;
  display: block;
  box-shadow: 0px 6px 7px #00000044;
}

@media only screen and (max-width: 600px) {
  #img2 {
    height: 300px;
  }
}

main {
  min-height: 100%;
}


:root {
  --palette_one: #ffe9e9;
  --palette_one_accent: #ffd3d3;
  --palette_two: #dfddff;
  --palette_two_accent: #b8b9ff;
  --palette_three: #ddffe4;
  --palette_three_accent: #a7ffba;
  --palette_four: #fff3be;
  --palette_four_accent: #ffdd80;
  --palette_dark: #101016;
  --palette_dark_accent_main: #202024;
  --palette_dark_accent_one: #6a168b;
  --palette_dark_accent_two: #ffffff;
  --palette_text_black: #000000;
  --palette_text_white: #ffffff;
}

body {
  background-color: unset;
  color: #000000;
  font-family: Londinia;
}

body.palette_one {
  background-color: var(--palette_one);
}

body.palette_two {
  background-color: var(--palette_two);
}


body.palette_three {
  background-color: var(--palette_three);
}

body.palette_four {
  background-color: var(--palette_four);
}

body.dark-mode {
  background-color: var(--palette_dark);
  color: #ffffff;
  font-family: Londinia;
}

.no-scroll-mobile {
  overflow: hidden;
}

@font-face {
  font-family: OxfordStreet;
  src: local("fonts/OxfordStreet.ttf"), url("fonts/OxfordStreet.ttf");
}

@font-face {
  font-family: Londinia;
  src: local("fonts/LondiniaMedium.ttf"), url("fonts/LondiniaMedium.ttf");
}

/*Menu principal*/
nav#primary {
  position: absolute;
  width: 600pt;
  top: 56vh;
  left: 0;
  z-index: 2;
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  nav#primary {
    width: 360pt;
    top: 38vh;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  nav#primary {
    width: 100%;
    top: 28vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*Menu secondario*/
nav#secondary {
  position: relative;
  top: -65px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  nav#secondary {
    position: absolute;
    min-width: 300px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    display: none;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    top: 8vh;
  }
}

/*Menu Mobile*/

.menuMobile {
  position: relative;
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .menuMobile {
    display: block;
  }
}

.menuMobile>a {
  position: absolute;
  width: auto;
  height: auto;
  color: #000000;
  font-family: OxfordStreet;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 5;
}

.dark-mode .menuMobile>a {
  color: var(--palette_text_white);
}

#menuMobileToggle {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
}

#menuMobileToggle.palette_two {
  background-color: var(--palette_two_accent);
}

#menuMobileToggle.palette_three {
  background-color: var(--palette_three_accent);
}

#menuMobileToggle.palette_four {
  background-color: var(--palette_four_accent);
}

.dark-mode #menuMobileToggle {
  background-color: var(--palette_dark_accent_main);
}

#menuMobileToggle input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  cursor: url("icons/cursor_select.png"), pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuMobileToggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #000000;
}

.dark-mode #menuMobileToggle span {
  background-color: #ffffff;
}

#menuMobile a {
  color: var(--palette_text_black);
  text-decoration: none;
}

.dark-mode #menuMobile a {
  color: #ffffff;
}

#menuMobile li {
  width: 200px;
  height: auto;
  margin-bottom: 25px;
  list-style: none;
  font-family: OxfordStreet;
  font-size: 36px;
  margin-right: 15px;
  padding-right: 15px;
  padding: 15px 20px 5px 20px;
  border-left: 6px solid #000000;
  transition: 0.5s;
}

#menuMobile.palette_two li {
  background-color: var(--palette_two);
}

#menuMobile.palette_three li {
  background-color: var(--palette_three);
}

#menuMobile.palette_four li {
  background-color: var(--palette_four);
}

.dark-mode #menuMobile li {
  border-left: 6px solid var(--palette_dark_accent_two);
  background-color: var(--palette_dark);
}

#menuMobile li:hover {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #070707aa, #07070760);
  background-image: none;
  border-left: dotted 6px #000000;
  transition: 0.5s;
}

.dark-mode #menuMobile li:hover {
  background-color: var(--palette_dark);
  border-left: solid 6px #cccccc;
}

#menuMobile li:active {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #070707aa, #07070760);
  background-image: none;
  border-left: dotted 6px #cccccc;
  transition: 0.5s;
}

.dark-mode #menuMobile li:active {
  background-color: #000000;
  border-left: dotted 6px #cccccc;
}

#menuMobile {
  position: relative;
  margin-top: 50px;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  display: none;
}

#menuMobileToggle input:checked~#menuMobile {
  display: block;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

/*Estilos menu*/
#primary ul>li {
  list-style: none;
  display: inline;
  color: white;
  margin: 0 20px 0 20px;
  border-bottom: 6px solid #000000;
  transition: 0.25s;
  -webkit-user-select: none;
  user-select: none;
  line-height: 1;
}

#primary ul {
  display: flex;
  justify-content: center;
}

#secondary ul>li {
  list-style: none;
  display: inline;
  color: white;
  margin: 0 10px 0 10px;
  padding: 5px 10px 5px 10px;
  border-bottom: 6px solid #000000;
  transition: 0.25s;
  -webkit-user-select: none;
  user-select: none;
}

.dark-mode #secondary ul>li {
  border-bottom: 6px dotted #ffffff;
}

.dark-mode #primary ul>li {
  border-bottom: 6px solid #ffffff;
}

@media only screen and (max-width: 900px) {
  #primary ul>li {
    margin: 0 10px 0 10px;
    padding: 0px 5px 0px 5px;
    line-height: 1;
  }
}

@media only screen and (max-width: 600px) {
  #primary ul>li {
    margin: 0 5px 0 5px;
    padding: 0px 1px 0px 1px;
    line-height: 1;
  }
}

#primary ul>li:hover,
#secondary ul>li:hover {
  border-bottom: dotted 6px #000000;
  transition: 0.25s;
}

.dark-mode #primary ul>li:hover,
.dark-mode #secondary ul>li:hover {
  border-bottom: dotted 6px var(--palette_dark_accent_one);
}

#primary ul>li:active,
#secondary ul>li:active {
  border-bottom: 6px dotted #ffffff;
  transition: 0.25s;
}

.dark-mode #primary ul>li:active,
.dark-mode #secondary ul>li:active {
  border-bottom: dotted 6px var(--palette_dark_accent_one);
}

li a {
  text-decoration-style: none;
  text-decoration: none;
  color: #000000;
  font-family: OxfordStreet;
  font-size: 18px;
  cursor: url("icons/cursor_arrow.png"), default;
}

.dark-mode li a {
  color: #ffffff;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  #primary li a {
    font-size: 14pt;
  }
}

/*Menu retractil*/
#emergent {
  position: absolute;
  top: 55vh;
  left: 85vw;
}

@media (max-width: 1400px) {
  #emergent {
    top: 54vh;
    left: 80vw;
  }
}

/*Tablet Device*/
@media (max-width: 900px) {
  #emergent {
    top: 37vh;
    left: 88vw;
  }
}

/*Mobile Device*/
@media (max-width: 600px) {
  #emergent {
    top: 125%;
    left: 25%;
    display: none;
  }
}

#hexeBG {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--palette_one_accent);
  position: absolute;
  z-index: 5;
}

.dark-mode #hexeBG {
  background-color: var(--palette_dark_accent_one);
}

#hexeBG::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--palette_one_accent);
  opacity: 0%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s;
  transition: 1s;
  z-index: 4;
}

.dark-mode #hexeBG::after {
  background-color: var(--palette_dark_accent_one);
}

#hexeBG:hover::after {
  opacity: 30%;
  transform: translate(-50%, -50%) scale(15);
}

#hexeBG>a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000000;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}


#hexeBG:hover>a,
#hexeBG>a:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

/*
#hexeBG>.rotate {
  transform: rotate(45deg);
  transition: 0.5s;
}*/

.dark-mode #hexeBG>a {
  color: #ffffff;
}

#hexeBG>a>i {
  font-size: 24px;
}

#hexeBG>a>i:hover::after {
  font-size: 14px;
}

.expand {
  width: 200px !important;
}

#flex {
  width: 0px;
  height: 50px;
  background-color: rgba(18, 145, 184, 0);
  right: calc(100% + -40px);
  position: absolute;
  transition: width 1s;
  transition-timing-function: ease;
}

.siteicons>a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000000;
  text-decoration: none;
}

.dark-mode .siteicons>a {
  color: var(--palette_dark_accent_one);
}

.siteicons>a>i {
  font-size: 18px;
}

.siteicons {
  width: 30px;
  height: 30px;
  background-color: var(--palette_one_accent);
  border-radius: 25%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 4;
}

.dark-mode .siteicons {
  background-color: var(--palette_dark_accent_two);
}

.siteicons:hover {
  background-color: #ffffff;
}

.dark-mode .siteicons:hover {
  background-color: var(--palette_dark_accent_one);
}

#site1 {
  right: 0%;
}

#site2 {
  right: 25%;
}

#site3 {
  right: 50%;
}

#site4 {
  right: 75%;
}

#site5 {
  right: 100%;
}

#site6 {
  right: 125%;
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  #site2 {
    right: 22%;
  }
}

@media only screen and (max-width: 900px) {
  #site3 {
    right: 44%;
  }
}

@media only screen and (max-width: 900px) {
  #site4 {
    right: 66%;
  }
}

@media only screen and (max-width: 900px) {
  #site5 {
    right: 88%;
  }
}

@media only screen and (max-width: 900px) {
  #site6 {
    right: 110%;
  }
}

#iconS {
  width: auto;
  height: 24px;
}

@media only screen and (max-width: 600px) {
  #iconS {
    width: auto;
    height: 18px;
  }
}

.iconGE {
  height: 24px;
  width: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  float: right;
  transform: translate();
  z-index: 3;
  cursor: pointer;
}

.logocx {
  margin-top: 100px;
  height: 100px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-user-select: none;
  user-select: none;
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  .logocx {
    margin-top: 10%;
    height: 100px;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  .logocx {
    margin-top: 12%;
    height: 100px;
  }
}

.tittle-one {
  position: relative;
  background-color: #000000;
  background-image: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: OxfordStreet;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  font-size: 64px;
  margin-left: 25%;
  margin-right: 25%;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1.5s;
  transition-property: all;
  transition-duration: 1.5s;
  -webkit-user-select: none;
  user-select: none;
  line-height: 1.5;
}

.dark-mode .tittle-one {
  background-image: linear-gradient(270deg, #b90f10, #4b1eff);
}

.tittle-one {
  animation: tittle-one 3s infinite;
}

@keyframes tittle-one {

  0%,
  100% {
    -webkit-filter: brightness(none);
    filter: brightness(none);
  }

  50% {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
  }
}

@media only screen and (max-width: 900px) {
  .tittle-one {
    font-size: 48px;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 600px) {
  .tittle-one {
    font-size: 32px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
  }
}

#art1,
#art2,
#art3 {
  text-align: center;
  color: black;
  padding-right: 150px;
  padding-left: 150px;
  font-size: 18px;
  left: 0%;
  right: 0%;
}

.dark-mode #art1,
.dark-mode #art2,
.dark-mode #art3 {
  color: white;
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {

  #art1,
  #art2,
  #art3 {
    padding-right: 55px;
    padding-left: 55px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {

  #art1,
  #art2,
  #art3 {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 14px;
  }
}

#cityimg {
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translate(-50%);
  max-width: 600px;
  min-width: 150px;
}

#Fbutton {
  background-color: #000000;
  height: 50px;
  width: 50px;
  display: none;
  border-radius: 50%;
  border: 5px solid #646464;
  position: fixed;
  right: 4vw;
  align-items: center;
  justify-content: center;
  transition: 1s;
  z-index: 3;
  top: 85vh;
  transition: 0.5s;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 80px;
  cursor: url("icons/cursor_select.png"), pointer;
}

.dark-mode #Fbutton {
  background-color: var(--palette_dark_accent_one);
  border: 5px solid var(--palette_text_black);
}

@media only screen and (max-width: 900px) {
  #Fbutton {
    height: 50px;
    width: 50px;
    left: 85vw;
    top: 90%;
  }
}

@media only screen and (max-width: 600px) {
  #Fbutton {
    height: 50px;
    width: 50px;
    left: 75vw;
    top: 85%;
  }
}

#arrowup {
  width: auto;
  height: 30px;
}

#Fbutton:hover {
  background-color: #323232;
  background-image: none;
  transform: translate(0%, -25%);
  transition: 0.5s;
}

.dark-mode #Fbutton:hover {
  background-image: var(--palette_dark_accent_one);
}

/*--------------------------footer-----------------------------*/

footer {
  position: relative;
  height: 150pt;
  width: auto;
  background-color: #ffffff;
  color: Black;
  left: 0;
  bottom: 0;
  margin-top: 100px;
  padding: 2%;
  border-top: 6px solid #000000;
}

.dark-mode footer {
  background-color: var(--palette_dark_accent_main);
  color: white;
  border-top: 6px solid #000000;
}

@media only screen and (max-width: 1400px) {
  footer {
    height: 120pt;
    width: auto;
    margin-top: 100px;
    padding: 3%;
  }
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  footer {
    height: 130pt;
    width: auto;
    margin-top: 60px;
    padding: 4%;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  footer {
    height: 120pt;
    width: auto;
    margin-top: 50px;
    padding: 5%;
  }
}

/*Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-user-select: none;
  user-select: none;
}

.switch input#myButton {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-user-select: none;
  user-select: none;
}


.sliderSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--palette_dark_accent_one);
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-user-select: none;
  user-select: none;
  cursor: url("icons/cursor_select.png"), pointer;
}


.sliderSwitch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSwitch.dark {
  background-color: var(--palette_dark_accent_one);
}

.sliderSwitch.dark:before {
  background-color: white;
}

/*backgroud color switch light*/
.sliderSwitch.lightone {
  background-color: var(--palette_one_accent);
  background-image: none;
}

.sliderSwitch.lighttwo {
  background-color: var(--palette_two_accent);
  background-image: none;
}

.sliderSwitch.lightthree {
  background-color: var(--palette_three_accent);
  background-image: none;
}

.sliderSwitch.lightfour {
  background-color: var(--palette_four_accent);
  background-image: none;
}

.sliderSwitch.light:before {
  background-color: black;
}


input#myButton:checked~.sliderSwitch.dark:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

input#myButton:checked~.sliderSwitch.lightone:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input#myButton:checked~.sliderSwitch.lighttwo:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input#myButton:checked~.sliderSwitch.lightthree:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input#myButton:checked~.sliderSwitch.lightfour:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#footerCont {
  margin-left: 10%;
  height: auto;
  width: 40%;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #footerCont {
    margin-left: 5%;
    height: auto;
    width: 50%;
    font-size: 12px;
  }
}

/*Correo*/

#footerCont a {
  text-decoration: none;
  text-decoration: underline;
  color: #000000;
}

.dark-mode #footerCont a {
  color: var(--palette_text_white);
}

#footerCont a.palette_one:hover {
  color: var(--palette_one_accent);
}

#footerCont a.palette_two:hover {
  color: var(--palette_two_accent);
}

#footerCont a.palette_three:hover {
  color: var(--palette_three_accent);
}

#footerCont a.palette_four:hover {
  color: var(--palette_four_accent);
}

.dark-mode #footerCont a:hover {
  color: var(--palette_dark_accent_one);
}

/*-----------------------footer fin-----------------------*/

.Line1,
.Line2 {
  position: relative;
  height: 5px;
  width: 64vw;
  background-color: #000000;
  background-image: none;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  margin-bottom: 2%;
}

.dark-mode .Line1,
.dark-mode .Line2 {
  background-color: var(--palette_dark_accent_one);
}

@media only screen and (max-width: 600px) {
  .Line1 {
    top: 96%;
  }
}

@media only screen and (max-width: 600px) {
  .Line2 {
    top: 165%;
  }
}

/* BUILD */

#BarMenu-secondary {
  height: 100px;
  width: auto;
  border-bottom: 6px solid #000000;
  z-index: 3;
}

#BarMenu-secondary .palette_two {
  background-color: var(--palette_two);
}

#BarMenu-secondary .palette_three {
  background-color: var(--palette_three);
}

#BarMenu-secondary .palette_four {
  background-color: var(--palette_four);
}

.dark-mode #BarMenu-secondary {
  background-color: var(--palette_dark_accent_main);
}

@media only screen and (max-width: 600px) {
  #BarMenu-secondary {
    display: none;
    width: 100vw;
    height: 50px;
  }
}

#TittlecxAlt2 {
  position: relative;
  font-size: 32px;
  top: -95px;
  /*margin-left: 100px;*/
  text-align: center;
  font-family: OxfordStreet;
  color: #000000;
  font-weight: bold;
  z-index: 3;
  display: none;
}

.dark-mode #TittlecxAlt2 {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  #TittlecxAlt2 {
    display: none;
  }
}

/*submenu-start*/

nav>ul>li>ul {
  display: block;
  position: absolute;
  top: 38px;
  left: 151px;
  /*
  background-color: rgba(0, 0, 0, 0.5);*/
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  display: inline-block;
}

nav>ul li ul li {
  padding-bottom: 10px;
  transform: translateY(-25px);
}

nav>ul li ul li a {
  padding: 0px 10px 0px 10px;
  top: -1px;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 23, 23);
  border: solid 5px rgba(0, 128, 0, 0);
  border-radius: 0px 15px 15px 0px;
  font-size: 16px;
}

nav>ul li img {
  position: relative;
  top: 4px;
}

nav>ul li ul li a:hover {
  color: #b8b8b8;
  background-color: rgb(189, 90, 90);
  /*
  background-image: linear-gradient(90deg,#b90f10, #4b1eff);*/
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  width: 176px;
  height: 25px;
  display: block;
}

#submenuNULL a {
  /*visibility: hidden;*/
  background-color: #0eac2800;
  color: #00000000;
}

/*submenu-end*/


div strong a :hover div div {
  display: block;
  font-size: 22px;
}

/* -----------------build--f----------*/

#fila1 {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5%;
  left: 45%;
  transform: translate(-50%);
  position: relative;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  #fila1 {
    display: block;
    left: 53.5%;
    transform: translate(-50%);
  }
}

#fila2 {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5%;
  left: 45%;
  transform: translate(-66%);
  position: relative;
  padding-bottom: 175px;
  margin: 0px 164px 0px 164px;
}

@media only screen and (max-width: 600px) {
  #fila2 {
    display: block;
    left: 23.5%;
    transform: translate(-90%);
  }
}

/*video edit,photo, games, movies, design, 3d, web, program*/

.box-tittle {
  color: var(--palette_text_black);
  font-size: 32px;
  font-family: OxfordStreet;
}

@media only screen and (max-width: 600px) {
  .box-tittle {
    font-size: 36px;
  }
}

.box-text p {
  position: relative;
  font-size: 16px;
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .box-text p {
    font-size: 18px;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 20px;
  }
}

.dark-mode .box-tittle {
  color: var(--palette_text_white);
}

.img-EJ {
  background-color: black;
  border-radius: 10px;
  height: 200px;
  width: 250px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.dark-mode .img-EJ {
  background-color: white;
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  .img-EJ {
    height: 30%;
    width: 80%;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  .img-EJ {
    height: 30%;
    width: 85%;
  }
}

.img-EJ:hover {
  filter: brightness(132%);
}

.Box-style {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .Box-style {
    position: relative;
  }
}

.box-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 80px;
  grid-row-gap: 25px;
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
  .box-grid-container {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  .box-grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  .box-grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.box-grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tableModal {
  display: none;
  margin-top: 50px;
}

.tableModal>.Box-style {
  margin-bottom: 50px;
}

/*--------------------------Box Card styles-------------------------------*/
.Box-style {
  background-color: var(--palette_two_accent);
  color: #000000;
  border: solid 3px #000000;
  border-radius: 10px;
  width: auto;
  height: 55vh;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  transition: 0.5s;
}

.dark-mode .Box-style {
  color: #ffffff;
  background-color: var(--palette_dark_accent_main);
  border: solid 2px #ffffff;
}

@media only screen and (max-width: 1400px) {
  .Box-style {
    width: 95%;
    height: 90vh;
  }
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  .Box-style {
    width: auto;
    height: 450pt;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  .Box-style {
    width: 90vw;
    height: 400pt;
  }
}

.Box-style:hover {
  background-color: #ffffff;
  background-image: none;
  border: dashed 3px #000000;
  transition: 0.5s;
}

.dark-mode .Box-style:hover {
  background-color: var(--palette_dark_accent_one);
  border: dashed 2px white;
}

/*----------------------------boton_open_Modal---------------------------*/

.Box-buttonModal {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: -15%;
  background-color: #000000;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("icons/cursor_select.png"), pointer;
}

.dark-mode .Box-buttonModal {
  background-color: var(--palette_dark_accent_two);
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.473);
}

.Box-buttonModal i {
  color: #ffffff;
  font-size: 40px;
  transition: 0.5s;
}

.Box-buttonModal i:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

.dark-mode .Box-buttonModal i {
  color: var(--palette_dark);
}

@media only screen and (max-width: 1400px) {
  .Box-buttonModal {
    top: -12%;
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .Box-buttonModal {
    top: -15%;
    height: 50px;
    width: 50px;
  }
}

.Box-buttonModal:hover {
  filter: brightness(150%);
}

/*----------------------------Modal Content---------------------------*/

.w3-modal {
  z-index: 7;
  display: none;
  padding-top: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow:auto;*/
  background-color: rgba(8, 8, 8, 0.9);
}

.w3-modal-content {
  margin: auto;
  background-color: var(--palette_two);
  position: relative;
  padding: 0;
  outline: 0;
  width: 900px;
  height: 800px;
  border-radius: 24px;
  top: 5%;
}

@media only screen and (max-width: 1400px) {
  .w3-modal-content {
    width: 600px;
    height: 600px;
    top: -5%;
  }
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  .w3-modal-content {
    width: 80%;
    height: 600px;
    top: 20%;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  .w3-modal-content {
    width: 90%;
    height: 700px;
    top: 0;
  }
}

.dark-mode .w3-modal-content {
  background-color: var(--palette_dark);
  box-shadow: 0 0 8px var(--palette_dark_accent_two);
}

.w3-hide-large {
  display: none !important;
}

.w3-sidebar.w3-collapse {
  display: block !important;
}

.w3-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.w3-container> :nth-child(3) {
  font-weight: bold;
}

.w3-container img {
  position: relative;
  width: auto;
  height: 400px;
  border-radius: 24px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

@media only screen and (max-width: 1400px) {
  .w3-container img {
    width: auto;
    height: 250px;
    margin-top: 25px;
  }
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  .w3-container img {
    width: auto;
    height: 250px;
    margin-top: 50px;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  .w3-container img {
    width: auto;
    height: 150px;
    margin-top: 75px;
  }
}

.w3-container p {
  margin: 16px;
  color: #000000;
  text-align: center;
}

.dark-mode .w3-container p {
  color: #ffffff;
}

/*Boton X modal*/
.w3-container span {
  font-size: 40px;
  color: rgb(230, 230, 230);
  background-color: rgb(22, 22, 22);
  font-weight: bold;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  vertical-align: auto;
}

@media only screen and (max-width: 1400px) {
  .w3-container span {
    font-size: 21px;
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .w3-container span {
    font-size: 30px;
    width: 3rem;
    height: 3rem;
  }
}

.dark-mode .w3-container span {
  color: #000000;
  background-color: #ffffff;
}

.w3-container span:hover {
  color: #000000;
  background-color: var(--palette_two_accent);
  background-image: none;
}

.dark-mode .w3-container span:hover {
  color: #ffffff;
  background-color: var(--palette_dark_accent_one);
}

/*----------------------------modal---------------------------*/

/* contact */

#infoForm {
  color: #000000;
  border: 2.5px #000000;
  border-style: dashed dashed none dashed;
  padding: 25px;
  width: auto;
  height: 200px;
  margin-bottom: 25px;
}

.dark-mode #infoForm {
  color: #ffffff;
  border: 2.5px #ffffff;
  border-style: dashed dashed none dashed;
}

@media only screen and (max-width: 600px) {
  #infoForm {
    height: 150px;
    padding: 15px;
    margin-bottom: 25px;
  }
}

/*Tamaño del texto*/
#infoForm strong p {
  font-family: OxfordStreet;
  font-size: 24px;
  color: #000000;
}

.dark-mode #infoForm strong p {
  color: var(--palette_dark_accent_two);
}

@media only screen and (max-width: 600px) {
  #infoForm strong p {
    font-size: 24px;
  }
}

#infoForm p {
  text-align: left;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #infoForm p {
    font-size: 12px;
  }
}

.iconshare {
  display: flex;
  justify-content: center;
}

.iconshare table {
  table-layout: auto;
  width: auto;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
}

.iconshare table td {
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .iconshare table td {
    padding: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .iconshare table {
    table-layout: auto;
    margin-top: -10%;
    width: auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .iconshare div.hover a:nth-of-type(2) {
    display: block;
  }
}

/*Iconos y texto*/
/*Tamaño de iconos de contacto*/
.iconshare i.fa-brands {
  font-size: 36px;
  margin-bottom: 10px;
}

.iconshare .hover a,
.iconshare .hover i.fa-brands {
  color: #000000;
}

.dark-mode .iconshare .hover a,
.dark-mode .iconshare .hover i.fa-brands {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .iconshare i.fa-brands {
    font-size: 20px;
  }
}

.iconshare a {
  font-size: 16px;
  text-decoration-style: none;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .iconshare a {
    font-size: 10px;
  }
}

.iconshare .hover:hover a,
.iconshare .hover:hover i.fa-brands {
  color: var(--palette_four_accent);
}

.dark-mode .iconshare .hover:hover a,
.dark-mode .iconshare .hover:hover i.fa-brands {
  color: var(--palette_dark_accent_one);
}

/*Formulario*/
form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  max-height: 850px;
  padding: 40px 40px 0px 40px;
  background-color: #ffffff;
  margin-left: 10%;
  top: 5vh;
  /*box-shadow: 0px 0px 12px black;*/
}

.dark-mode form {
  background-color: var(--palette_dark_accent_main);
}

/*Tablet Device*/
@media only screen and (max-width: 900px) {
  form {
    padding: 30px 30px 0px 30px;
    width: 90%;
    top: 2vh;
    margin: auto;
  }
}

/*Mobile Device*/
@media only screen and (max-width: 600px) {
  form {
    padding: 15px 15px 0px 15px;
    width: 80%;
    top: 5vh;
    margin: auto;
  }
}

form:nth-of-type(4) {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

form input:focus {
  color: #ffffff;
  outline: none !important;
  border-color: #323232;
}

.dark-mode form input:focus {
  color: #ffffff;
  outline: none !important;
  border-color: var(--palette_dark_accent_two);
}

textarea {
  resize: none;
  outline: none;
}

/*
select::-ms-expand {
  display: none;
}*/

select:hover {
  background: rgb(51, 233, 27);
}

select option:hover {
  margin: 40px;
  background: var(--palette_dark_accent_two);
  color: #ffffff;
}

select option:focus {
  background: var(--palette_dark_accent_two);
}

form input:focus {
  background-color: var(--palette_four_accent);
}

.dark-mode form input:focus {
  background-color: var(--palette_dark_accent_main);
}

.formNameMail {
  background-color: #cccccc;
  color: white;
  margin-bottom: 10px;
  height: 25px;
  border: none;
  border-bottom: solid #000000 3px;
  border-image-slice: 30 30% 45;
  padding-left: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.dark-mode .formNameMail {
  background-color: var(--palette_dark);
  border-color: var(--palette_dark_accent_one);
}

#formSelect {
  background-color: #cccccc;
  color: #646464;
  margin-bottom: 10px;
  height: 25px;
  outline: none;
  border: none;
  border-bottom: solid #000000 3px;
  border-image-slice: 30 30% 45;
  padding-left: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.dark-mode #formSelect {
  background-color: var(--palette_dark);
  border-color: var(--palette_dark_accent_one);
}

.formSelectOption {
  background-color: #ffffff;
  color: var(--palette_text_black);
  transition: 3s;
}

.dark-mode .formSelectOption {
  background-color: var(--palette_dark);
  color: var(--palette_text_white);
}

#formText {
  background-color: #cccccc;
  color: #000000;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid #000000 3px;
  border-image-slice: 30 30% 45;
  padding: 10px;
  height: 200px;
}

.dark-mode #formText {
  background-color: var(--palette_dark);
  color: #ffffff;
  border-color: var(--palette_dark_accent_one);
}

#form-enviar {
  border-radius: 10px;
  background-color: var(--palette_four_accent);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  height: 50px;
  width: 330px;
  border: none;
  font-family: Londinia;
}

.dark-mode #form-enviar {
  background-color: var(--palette_dark_accent_one);
}

@media only screen and (max-width: 600px) {
  #form-enviar {
    width: 65%;
    margin-top: 25px;
  }
}

#form-reset {
  border-radius: 10px;
  background-color: var(--palette_four_accent);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  height: 50px;
  width: 150px;
  border: none;
  position: relative;
  bottom: 60px;
  left: 350px;
  font-family: Londinia;
}

.dark-mode #form-reset {
  background-color: var(--palette_dark_accent_one);
}

@media only screen and (max-width: 600px) {
  #form-reset {
    width: 30%;
    float: right;
    left: 0px;
    margin-left: 70%;
  }
}

#form-enviar:hover,
#form-reset:hover {
  filter: saturate(64%);
}

/* gallery */
#LinG {
  position: absolute;
  top: 7.7vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 8.5));
  height: 600px;
  width: 100vw;
  border-bottom: 3px solid rgb(182, 33, 33);
  box-shadow: 0px 10px 15px rgba(51, 20, 134, 0.5);
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  #LinG {
    height: 300px;
    width: 100vw;
  }
}

#degG {
  width: 100%;
  height: 500px;
  transform: translateY(-39px);
  z-index: -1;
  background-image: linear-gradient(0deg,
      rgb(24, 24, 24),
      rgb(24, 5, 5),
      rgb(24, 12, 12));
  background-blend-mode: screen;
}

@media only screen and (max-width: 600px) {
  #degG {
    position: relative;
    transform: translateY(-20vh);
    width: 100%;
    height: 200px;
  }
}

/*
#galleryM {
  position: relative;
  top: 40vh;
  z-index: 3;
}

@media only screen and (max-width: 600px) {
  #galleryM {
    top: 20vh;
  }
}

.slidershow {
  width: 700px;
  height: 400px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .slidershow {
    width: 350px;
    height: 200px;
  }
}*/

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
}

/*
.bar {
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255, 255, 255);
  background: rgba(255, 255, 255, 0.473);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.74);
  margin: 5px;
  cursor: pointer;
  transition: 0.25s;
}

.bar:hover {
  background: #ffffff;
}*/

form input[name="r"] {
  position: absolute;
  visibility: hidden;
}

/*
.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 1.5s;
  z-index: 1;
}
*/
.slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  /*
  bottom: 54.5px;*/
  /*
  z-index: 1;*/
}

/*
#r1:checked~.s1 {
  margin-left: 0;
}

#r2:checked~.s1 {
  margin-left: -20%;
}

#r3:checked~.s1 {
  margin-left: -40%;
}

#r4:checked~.s1 {
  margin-left: -60%;
}

#r5:checked~.s1 {
  margin-left: -80%;
}

#pt1 {
  position: absolute;
  width: auto;
  height: 80%;
  top: 425px;
  left: -25px;
  filter: opacity(15%) brightness(25%) saturate(75%);
}
*/
/*
#textGal {
  width: 100px;
  text-align: center;
  -webkit-text-stroke: 1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000000;
  font-size: 20px;
  position: relative;
  z-index: 2;
  margin: 25px;
  transform: translateY(225px);
}*/

#textGallery {
  position: relative;
  top: 15%;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  text-align: center;
}

#textGallery>article>h1 {
  color: #000000;
  font-size: 48px;
  font-family: OxfordStreet;
}

#textGallery>article>h2 {
  color: #000000;
  font-size: 24px;
  font-family: OxfordStreet;
}

.dark-mode #textGallery>article>h1,
.dark-mode #textGallery>article>h2 {
  color: var(--palette_dark_accent_two);
}

@media only screen and (max-width: 600px) {
  #textGallery {
    position: relative;
    top: 5%;
    margin: 25px;
    text-align: center;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  pointer-events: none;
}

.dark-mode .loader {
  background-color: black;
}

.loader {
  /* Aquí puedes agregar tus reglas de estilo para la pantalla de carga */
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
}

.SlidersG {
  position: relative;
  top: 90vh;
  z-index: 5;
  display: block;
}

@media only screen and (max-width: 600px) {
  .SlidersG {
    display: none;
  }
}

.SlidersGM {
  position: relative;
  top: 80vh;
  z-index: 5;
  display: none;
}

@media only screen and (max-width: 600px) {
  .SlidersGM {
    position: relative;
    top: 40vh;
    z-index: 5;
    display: block;
  }
}

#filaG1 {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0%;
  left: 51.5%;
  transform: translate(-50%);
  position: relative;
  padding-bottom: 5%;
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  #filaG1 {
    grid-template-columns: 50% 50%;
    grid-gap: 0%;
    left: 54%;
    transform: translate(-50%);
    position: relative;
  }
}

#PhotoG {
  height: 170px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.685);
}

@media only screen and (max-width: 600px) {
  #PhotoG {
    height: 85px;
    width: auto;
  }
}

#moreTT {
  position: absolute;
  left: 46.5%;
  transform: translateX(-50%);
  transform: translateY(-7vh);
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #moreTT {
    position: absolute;
    left: 35.5%;
    transform: translateX(-50%);
    transform: translateY(32vh);
    text-align: center;
    font-size: 20px;
  }
}

#moreTT a {
  color: whitesmoke;
  text-decoration: none;
}

#moreTT:hover {
  text-decoration: underline;
  text-shadow: 0 0 16px white;
  transition: 1s;
}

img[alt="www.000webhost.com"] {
  display: none;
}

/*
table tr td {
  border: 1px solid rgb(51, 255, 0);
}*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  -webkit-user-select: none;
  user-select: none;
  /*
  grid-gap: 10px;*/
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Tablet Device*/
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Mobile Device*/
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

table#tableHome {
  position: relative;
  margin-top: 5%;
}

@media (max-width: 600px) {
  table#tableHome {
    margin-top: 10%;
  }
}